{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid hero-image-account">
  <div class="opaque-overlay">&nbsp;</div>
  <div class="row">
          <div class="col-12">
              <section class="jumbotron text-center">
                  <h1 class="display-1">Mata zehi!</h1>
                      <p class="lead">We hope to see you soon!</p>
              </section>
          </div>    
  </div>    
</div>


<div class="container container-padding">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1>{% trans "Sign Out" %}</h1>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>
      
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-outline-dark" type="submit">{% trans 'Sign Out' %}</button>
      </form>

    </div>
  </div>
</div>  
      
{% endblock %}
