body {
  background-color: #F9FAFC;
}

.hero-image-home {
  height: 50vh;

  background: url('../images/food3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.brand {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #4A4A4F;
}

.hero-image-booking {
  height: 50vh;

  background: url('../images/food1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.brand {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #4A4A4F;
}

.red-brand {
  color: #d9534f;
}

.thin {
  font-weight: 300;
}

.light-bg {
  background-color: #fff;
}

.dark-bg {
  background-color: #0f1114;
}

.main-bg {
  background-color: #F9FAFC;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #333333;
}

h1 {
  font-weight: 300;
  text-align: center;
  color: #d9534f;

}

h2 {
  font-weight: 300;
  text-align: left;
  color: #d9534f;

}

.button {
  background-color: #282727;
  color: white;
  border: 2px;
}

.button:hover {
  background-color: #E84610;  
  color: white;
}

.link {
  color: #d9534f;
}
