{% extends 'base.html' %}


{% block content %}

{% load crispy_forms_tags %}

<!-- Hero Image Styling -->

<div class="container-fluid hero-image-contact">
    <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <section class="jumbotron text-center">
                    <h1 class="display-1 text-white">Contact Umai</h1>
                    <p class="display-4 text-white">Get in touch, we'd love to hear from you.</p>
                </section>
            </div>    
        </div>
    </div>    
</div>

<!-- Contact Form -->

<div class="container container-padding">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h1 class="display-4">Send us a Message</h1>
            <form method="POST">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">Send Message</button>
            </form>
      </div>  
    </div>     
</div>    


{%endblock%}