{% extends 'base.html' %}



{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid hero-image-booking">
  <div class="opaque-overlay">&nbsp;</div>
  <div class="row">
          <div class="col-12">
              <section class="jumbotron text-center">
                  <h1 class="display-4">Join Us at Umai</h1>
                      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              </section>
          </div>    
  </div>    
</div>

<div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h1>Edit a Booking</h1>
        <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
            
            <button type="submit" class="button">Update</button>
        </form>
      </div>  
    </div>     
</div>    

{%endblock%}