{% extends 'base.html' %}



{% block content %}

{% load crispy_forms_tags %}

<!-- Hero Image Styling -->

<div class="container-fluid container-padding hero-image-booking">
  <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
      <div class="col-12">
          <section class="jumbotron text-center">
            <h1 class="display-1 text-white">Join Us at Umai</h1>
            <p class="display-4 text-white">We look forward to seeing you.</p>
          </section>
      </div>
    </div>    
  </div>    
</div>

<!-- Form to Edit Booking Information -->

<div class="container container-padding">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1>Edit a Booking</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        
        <button type="submit" class="btn btn-outline-dark">Update</button>
      </form>
    </div>  
  </div>     
</div>    

{%endblock%}