{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Hero Image Styling -->

<div class="container-fluid hero-image-home">
    <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
                <div class="col-12">
                    <section class="jumbotron text-center">
                        <h1 class="display-1 text-white">Welcome to Umai!</h1>
                        <p class="display-4 text-white">The home of authentic Japanese Sushi in Dublin</p>
                    </section>
                </div>  
        </div>    
    </div>      
</div>

<!-- Restaurant Introduction -->

<div class="container container-padding">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="display-3 red-brand text-left">Sushi is simple. That's why it's so complicated.</h1>
            <p class="lead">It takes years to master and moments to enjoy. At Umai we promise that our experience and commitment to quality will not be matched</p>
            <p class="lead">For the last 10 years we have served thousands of customers and they always come back for more. The best ingredients, a warm, cozy setting and friendly faces ensure we deliver the best sushi experience.</p>
        </div>
        <div class="col-sm-4">
            <img src="static/images/chefs.jpg" class="img-fluid" alt="Sushi chefs at work in the kitchen">
        </div>
    </div>
</div>

<!-- Food Menu Information. Cards numbers run left to right, top to bottom -->

<div class="container">
    <hr>
    <div class="row">
        <div class="col-12 mt-3 left">
            <h2 class="display-4">Our Current Menu</h2>
            <p class="lead">At Umai we pride ourselves on using the best Japanese and Irish ingredients to create sushi like no other. Our set menu of six dishes will provide you with the full sushi experience from the simplest origins to modern takes made right in front of you as you dine with us.</p>
            
            <div class="row">
                <!-- Food Menu Card 1 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="static/images/sashimi.jpg" class="card-img-top" alt="Image of Sashimi Sushi">
                        <div class="card-body">
                            <h3>Sashimi</h3>
                            <p class="card-text"> Raw seafood delicately cut into thin slices. Seafood at its purest.</p>
                        </div>
                    </div>
                </div>

                <!-- Food Menu Card 2 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="static/images/nigri.jpeg" class="card-img-top" alt="Image of Nigri Sushi">
                        <div class="card-body">
                            <h3>Nigri</h3>
                            <p class="card-text">Hand-pressed bed of rice topped with a single piece of glazed seafood</p>
                        </div>
                    </div>
                </div>

                <!-- Food Menu Card 3 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="static/images/maki.jpeg" class="card-img-top" alt="Image of Maki Sushi">
                        <div class="card-body">
                            <h3>Maki</h3>
                            <p class="card-text"> Sushi rice with a variety of fillings at the center wrapped in a sheet of nori. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Food Menu Card 4 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="static/images/uramaki.jpeg" class="card-img-top" alt="Image of Uramaki Sushi">
                        <div class="card-body">
                            <h3>Uramaki</h3>
                            <p class="card-text">Maki but in reverse. Sushi rice on the outside, followed by a sheet of nori and sushi filling at the center.</p>
                        </div>
                    </div>
                </div>

                <!-- Food Menu Card 5 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="static/images/temaki.jpeg" class="card-img-top" alt="Image of Temaki Sushi">
                        <div class="card-body">
                            <h3>Temaki</h3>
                            <p class="card-text"> A combination of veggies, seafood and sauces server in a cone-shaped nori sheet.</p>
                        </div>
                    </div>
                </div>

                 <!-- Food Menu Card 6 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="static/images/gunkan.jpeg" class="card-img-top" alt="Image of Gunkan Sushi">
                        <div class="card-body">
                            <h3>Gunkan</h3>
                            <p class="card-text">Sushi wrapped around a small bed of rice and a variety of toppings.</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>    


{%endblock%}
