{% extends 'base.html' %}


{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid hero-image-reviews">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
            <div class="col-12">
                <section class="jumbotron text-center">
                    <h1 class="display-1">Reviews of Umai</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                </section>
            </div>    
    </div>    
</div>
  

<div class="container container-padding">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Reviews:</h3>
        <div class="card-body">
        <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
        {% for review in reviews %}
        <div class="review" style="padding: 10px;">
            <p class="font-weight-bold">
                <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                {{ review.name }}
                <span class=" text-muted font-weight-normal">
                    <!-- The comment's created date goes here -->
                    {{ review.created_on }}
                </span> wrote:
            </p>
            <!-- The body of the comment goes before the | -->
            {{ review.body | linebreaks }}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
        </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
        <!-- For later -->
        {% if reviewed %}
        <div class="alert alert-success" role="alert">
            Your review is awaiting approval
        </div>
        {% else %}
        {% if user.is_authenticated %}
        
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em;">
            {{ review_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% endif %}
        {% endif %}
        </div>
        </div>
        </div>
        </div>


{%endblock%}