{% extends 'base.html' %}


{% block content %}

{% load crispy_forms_tags %}

<div class="row">
  <div class="col-md-8 mt-3 offset-md-2">
      <h3>Reviews:</h3>
      <div class="card-body">
          <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
          {% for review in reviews %}
          <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                  <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                  {{ review.name }}
                  <span class=" text-muted font-weight-normal">
                      <!-- The comment's created date goes here -->
                      {{ review.created_on }}
                  </span> wrote:
              </p>
              <!-- The body of the comment goes before the | -->
              {{ review.body | linebreaks }}
          </div>
          <!-- Our for loop ends here -->
          {% endfor %}
      </div>
  </div>



<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      {% if user.is_authenticated %}


      <h3>Leave a Review:</h3>
      <p>Posting as: {{ user.username }}</p>
      <form method="POST">
          {{ review_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="button">Submit</button>
      </form>
      {% endif %}

  </div>
</div>
</div>


{%endblock%}