{% extends 'base.html' %}



{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid hero-image-booking">
  <div class="row">
          <div class="col-12">
              <section class="jumbotron text-center">
                  <h1 class="display-4">Join Us at Umai</h1>
                      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              </section>
          </div>    
  </div>    
</div>

<div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h1>View Bookings</h1>

        <table>
        {% for booking in bookings %}
        <tr>
          <td>{{ booking.name }}</td>
          <td>{{ booking.date }}</td>
          <td>{{ booking.guests }}</td>
          <td>{{ booking.message }}</td>
          <td>
            <a href="edit/{{ booking.id }}"><button>Edit</button></a>
          </td>
          <td>
            <a href="delete/{{ booking.id }}"><button>Cancel</button></a>
          </td>
        </tr>
        {% endfor %}
        </table>

        <a href = "add_booking">Add a Booking</a>
      </div>  
    </div>     
</div>    

{%endblock%}